*.log
*.pot
*.po
*.mo
.DS_Store
vendor/
node_modules/
.env
.env.test
wp-content/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/artifacts/
/tests/e2e/__snapshots__
.phpunit.result.cache
phpunit.xml
/tests/_wordpress
tests-examples/demo-todo-app.spec.ts
